.card-container{
    font-family: Brandon;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
text-align: center;
overflow: hidden;
max-width: 78%;
margin: 0px  auto 40px auto;
padding: 85px 100px 100px;
background: #f0f2f5;
text-align: center;
}
.card{
color: #000;
max-width: 1130px;
display: block;
padding: 0 25px;
margin: 0 auto;
}
.card p{
    color: #777;
    line-height: 30px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.card h2{
    box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin: 0;
font-weight: 100;
font-size: 40px;
color: #303d4c;
margin-bottom: 10px;
}
.card h3{
    line-height: 30px;
margin-top: 25px;
font-size: 1.1rem;
text-align: center;
line-height: 30px;
margin: 10px auto;
text-transform: uppercase;
letter-spacing: 4px;
font-size: 15px;
font-weight: 100;
color: #7d8995;
}