.jumpstart-ad-container{
    font-family: Brandon;
text-align: center;
overflow: hidden;
max-width: 78%;
margin: 0 auto;
padding: 85px 100px 100px;
background: #f0f2f5;
text-align: center;
}
.jumpstart-ad{
color: #000;
max-width: 1130px;
display: block;
padding: 0 25px;
margin: 0 auto;
}
.text-desc{
line-height: 30px;
margin-top: 25px;
font-size: 1.1rem;
text-align: center;
line-height: 30px;
margin: 10px auto;
text-transform: uppercase;
letter-spacing: 4px;
font-size: 15px;
font-weight: 100;
color: #7d8995;
}
.desc{
color: #777;
line-height: 30px;
max-width: 800px;
margin: 0 auto;
padding-top: 20px;
}
.watch-video{
    margin-top: 20px;
    
}
.watch-video-text{
line-height: 30px;
margin: 10px auto;
text-transform: uppercase;
letter-spacing: 4px;
font-size: 15px;
font-weight: 500;
color: #7d8995;

}
.img-container img{
cursor: pointer;
max-width: 100%;
width: 30px;
display: inline-block;
position: relative;
padding-left: 7px;
top: 6px;
}
@media screen and (max-width:767px){
    .jumpstart-ad-container{
        padding: 20px;
        margin: 0px;
        width: 100%;
        max-width: 100%;
    }
    .jumpstart-ad{
        padding: 0px;
    }
    .ad-title img{
        width: 170px;
    }
}