.prices-container{
    font-family: Brandon;
background: #f0f2f5;
text-align: center;
color: #2e3d4e;
text-align: center;
color: #2e3d4e;
padding-top: 50px;

}
.price-quote-container{
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 0  0;
    margin-bottom: 10px;
}
.price-quote{
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    
}
.currency-sign{
   align-self: flex-start;
}
.monthly-price{
font-size: 37px;
}
.price-desc{
    font-family: Brandon;
color: #2e3d4e;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin: 0;
display: inline-block;
text-align: left;
margin-left: 4px;
font-size: 13px;
letter-spacing: 1.3px;
}

.btn-container button {
cursor: pointer;
background-color: #7d8995;
transition: background-color .2s;
letter-spacing: 2px;
padding: 1.2em 1.2em 1em;
font-size: 14px;
color: #fff;
max-width: 125px;
position: relative;
margin: 0 0 0 15px;
display: inline-block;
border: none;
outline: none;
text-transform: uppercase;
}
.includes-title{
text-transform: capitalize;
font-family: Gotham;
font-weight: 200;
padding-bottom: 25px;
font-size: 20px;
}
.includes-title span {
    color: #00C5D4;
}



@media screen and (max-width:767px){
   
    .price-quote-container{
        flex-direction: column;
        padding-top: 50px;
    }
    .price-quote-container button{
        margin-top: 10px;
    }
}