.prices-container{
    font-family: Brandon;
background: #f0f2f5;
text-align: center;
color: #2e3d4e;
text-align: center;
color: #2e3d4e;

}
.price-quote-container{
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 0  0;
    margin-bottom: 10px;
}
.price-quote{
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
}
.currency-sign{
   align-self: flex-start;
}
.monthly-price{
font-size: 37px;
}
.price-desc{
    font-family: Brandon;
color: #2e3d4e;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin: 0;
display: inline-block;
text-align: left;
margin-left: 4px;
font-size: 13px;
letter-spacing: 1.3px;
}
.prices{

}
.btn-container button {
cursor: pointer;
background-color: #7d8995;
transition: background-color .2s;
letter-spacing: 2px;
padding: 1.2em 1.2em 1em;
font-size: 14px;
color: #fff;
max-width: 125px;
position: relative;
margin: 0 0 0 15px;
display: inline-block;
border: none;
outline: none;
text-transform: uppercase;
}
.includes-title{
text-transform: capitalize;
font-family: Gotham;
font-weight: 200;
padding-bottom: 25px;
font-size: 20px;
}
.includes-title span {
    color: #00C5D4;
}

/* all icons */
.icons-container{
font-family: Brandon;
text-align: center;
color: #000;
display: block;
padding: 0 25px;
margin: 0 auto;
max-width: 100%;
background: #f8f8f8;
padding: 1px 0px 20px;
}
.icons-container header{
    text-align: center;
    display: flex;
    justify-content: center !important;
}
.icons-container h3{
color: #777;
line-height: 30px;
margin-top: 25px;
font-size: 1.1rem;
text-align: center;
letter-spacing: 2px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
   
}
.icons {
    width: auto;
 margin: 0 auto;
padding: 0px 0px 0px;
margin-left: auto;
text-align: right;
display: flex;
align-items: center;
overflow-x: auto;
}
.icons>div{
text-align: right;
padding: 30px;
display: flex;
flex-direction: column;
}
.icon{
    text-align: right;
padding: 25px;
display: flex;
flex-direction: column;
}
.icons a{
display: flex;
flex-direction: column;
}
.icons .selected{
    color: aqua !important;
}
.icons img{
    
    height: 45px;
}
.icons span {
   
text-align: center;
cursor: pointer;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin: 0;
transition: opacity 0.35s, transform 0.35s;
width: 100%;
transform: translate3d(0,20px,0);
text-transform: lowercase;
letter-spacing: 2px;
font-size: 11px;
color: #7c8995;

}
.selected{
    background: #fff;
}
 .selected span{
    color: aqua !important;
}
@media screen and (max-width:767px){
    .icons-container h3{
      
line-height: 30px;
color: #7d8995;
font-size: 12px;
    }
    .price-quote-container{
        flex-direction: column;
        padding-top: 50px;
    }
    .price-quote-container button{
        margin-top: 10px;
    }
}