.footer-container{
    background: yellow;
}
footer *{

}

footer{
display: flex;
width: 100%;
height: 384px;
color: #fff;
font-family: gotham;
}
.left-section{
background: #364659;
flex-basis: 350px;
text-align: left;
padding: 35px 25px 25px;
height: 100%;
}
.logo-container img{
    width: 150px;
}
.phone{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    color: #cecece;
    font-size: 12px;
    line-height: 20px;
   

}
.social-media-icons{
    margin-top: 30px;
}
.social-media-icons span {
    text-align: left;
text-decoration: none;
font-family: Brandon;
margin-left: 10px;
text-align: left;
font-weight: 400;
line-height: 1;
-webkit-font-smoothing: antialiased;
color: #cecece;
font-size: 20px;
padding: 4px;
}
.right-section{
max-width: 1200px;
display: flex;
margin: 0 auto;
color: #fff;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
display: flex;
margin: 0px 0px 40px 0px;
padding: 15px;
background: #2e3e4e;
width: 100%;
height: 100%;
padding: 35px 25px 25px;
}
footer li{
    font-family: Gotham;
text-decoration: none;
color: #cecece;
font-size: 12px;
line-height: 15px;
padding: 4px 20px;
list-style: none;
text-transform: capitalize;
white-space: nowrap;
font-weight: 100;
}
footer h3{
padding: 16px 20px;
text-transform: uppercase;
font-size: 14px;
position: relative;
font-weight: 500;
font-family: Gotham;
letter-spacing: 2px;
pointer-events: none;
border-bottom: 0;
padding-top: 0;
}
footer p{
margin: 12px 0;
color: #cecece;
font-size: 12px;
line-height: 18px;
}
.menu-item button {
    display: none;
}
.join-blog form {
width: 100%;
border: 1px solid #7c8994;
padding: 0px 0px 0px 10px;
display: flex;
align-items: center;
position: relative;
}
.join-blog span {
    font-size: 22px;
}
.join-blog input{
font-family: inherit;
background: 0 0;
display: block;
border: none;
color: #fff;
font-size: 23px;
padding: 10px 10px 10px 10px;

}
.join-blog input:focus,
.join-blog input:active{
    outline: none;
    border: none;
}
.join-blog .submit {
    background: #bbb;
    padding: 10px;
    opacity: 1;
    color: #fff;
    background: #7b828b;
    font-size: 25px;
     border: none;
    color: #fff;
    font-size: 23px;
    width: 50px;
    right: 0;
    text-align: center;
    cursor: pointer;
}
.join-blog p{
    
    white-space: normal;
    width: 200px;
    
}


@media screen and (max-width:767px){
    footer {
        flex-direction: column;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    footer h3 {
        padding: 0;
    }
    .left-section{
    text-align: center;
    padding: 35px 25px 25px;
    flex-basis: auto;
    }
    .social-media-icons{
        padding: 0;
    }
    .right-section{
        flex-direction: column;
        padding:15px 0;
        overflow: hidden;
    }
    .menu-item{
        
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #354959;
    position: relative;
     padding: 12px 20px; 
    overflow: hidden;

}
.menu-item ul{
    flex-direction: column;
     display:none ; 
    padding: 0;
    margin: 0;
}
.menu-list-open ul{
    display: flex;
}
.menu-item li {
    padding: 7px 0px;
}
.menu-item button {
    position: absolute;
    display: inline-block;
}
.menu-item button:focus,
.menu-item button:active{
    border: none;
    outline: none;
}
.right-section .plus-btn{
    border: none;
    background: transparent;
    color: #fff;
    right: 0;
    font-size: 23px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.join-blog{
    display: flex;
    flex-direction: column;
    border: none;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
    overflow:hidden;
    
}
.join-blog input {
    width: auto;
    flex: 1;

}
.join-blog p{
    width: auto;
}
footer p{
    font-size: 11px;
    
}
}