.get-started-container{
   
padding: 90px 0px 50px;
}
.get-started{
text-align: center;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
max-width: 1130px;
margin: 0 auto;
overflow: auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.title{
    font-family: Brandon;
text-align: center;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin: 0;
float: left;
padding: 0 21px;
margin-bottom: 43px;
width: 50%;
}
.title p{
    text-align: center;

font-weight: 100;
margin: 15px auto;
font-size: 40px;
color: #303d4c;
float: left;

}
.title span {
font-family: gotham;
text-transform: uppercase;
letter-spacing: 4px;
font-weight: 300;
color: #7d8995;
float: left;
text-align: left;
margin: 0px auto!important;
font-size: 11px!important;

}
.text{
font-family: Brandon;
text-align: center;
margin: 0;
float: left;
padding: 0 21px;
 margin-bottom: 43px; 

width: 50%;
}
.text p {
color: #777;
line-height: 30px;
text-align: left!important;
font-size: 16px;
font-family: Brandon; 
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin: 0;
color: #777;
line-height: 30px;
text-align: left!important;

}
@media screen and (max-width:767px){
    .get-started{
        flex-direction: column;
    }
    .title{
        width: 100%;
        text-align: center;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
font-weight: 100;
margin: 15px auto;
font-size: 29px;
float: left;
    }
    .text{
        width: 100%;
        margin-bottom: 20px;
    }
}