.mobile-header-container{
position: fixed;
top: 0;
left: 0;
right: 0;
background: #fff;
z-index: 3;
text-align: center;
align-items: center;
color: #000;
}
.mobile-header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
  
    left: 0;
    right: 0;
    
}
.logo-container{
padding: 0 0 0 20px;
text-decoration: none;

width: 108px;
padding-top: 4px;
object-fit: contain;
}
.logo-container img {
width: 108px;
padding-top: 4px;
height: 30px;
}
.hurmbuger{
    cursor: pointer;
}
.hurmbuger>div{
    width: 37px;
    height: 2px;
    background: #E14F22;
    margin: 8px;
}
/* nav open */
header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    }
.nav-open-container{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 5;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}
.nav-toggle{
    display: none;
}
.line1{
    transform: rotate(45deg) translateY(4px) translateX(4px);
}
.hurmbuger .line2{
    display: none;
}
.line3{
    transform: rotate(-45deg) translateY(-4px) translateX(2px);
}
.btn {
    text-align: center;
font-weight: 500;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
text-decoration: none;
padding: 1.2em 1.2em 1em!important;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 12px;
color: white!important;
transition: 0.3s;
font-family: gotham;
border-radius: 0px;
border: 0px solid!important;
margin: 10px 0px;
background: #364659!important;
width: 50%;
}
.started-btn{
background: #e14f22!important;
}
.account{
    font-family: Brandon;
text-align: center;
box-sizing: border-box;
padding: 25px 0;
font-size: 14px;
color: #484848;
letter-spacing: 2px;
white-space: nowrap;
}
.phone-container{
    text-decoration: none;
    color: #484848;
}
.phone,
.separator{
    margin-right: 10px;
    padding-right: 10px;
}
.nav-items-container li{
    list-style: none;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin: 0;
display: block;
font-size: 17px;
text-transform: uppercase;
padding: 19px 10px;
text-decoration: none;
color: #2d3d4f;
white-space: nowrap;
letter-spacing: 3px;
font-family: Gotham;
font-weight: 500;
}