.advantage{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    
}
.img-container{
color: #777;
cursor: pointer;
width: calc(50% - 300px);
}
.img-container img{
    
width:100%;
object-fit: cover;
}
.text{
    font-family: Brandon;
text-align: left;
font-size: 1.1rem;
color: #777;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin: 0;
float: left;
padding: 0 21px;
margin-bottom: 43px;
width: 50%;
max-width: 600px;
}
.text h3 {
    text-align: left;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
font-family: gotham;
margin: 10px auto;
text-transform: uppercase;
letter-spacing: 4px;
font-size: 15px;
font-weight: 100;
color: #7d8995;
    font-family: Brandon;
text-align: left;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
color: #000;
font-size: 1.5rem;
margin: 20px 0 8px;
}

.title{
    text-align: left;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin: 0;
font-family: gotham book;
font-weight: 100;
font-size: 25px;
color: #303d4c;
}
.text p{
    font-family: Brandon;
text-align: left;
font-size: 1.1rem;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin: 0;
color: #777;
}
.icons {
    width: auto;
 margin: 0 auto;
padding: 25px 0px 30px;
margin-left: auto;
text-align: right;
display: flex;
align-items: center;
justify-content: center;
overflow-x: auto;
}
.icons>div{
text-align: right;
padding: 0px 50px;
display: flex;
flex-direction: column;
}
.icons img{
    
    height: 70px;
}
.icons span {
   
text-align: center;
cursor: pointer;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin: 0;
transition: opacity 0.35s, transform 0.35s;
width: 100%;
transform: translate3d(0,20px,0);
text-transform: lowercase;
letter-spacing: 2px;
font-size: 22px;
color: #7c8995;

}
@media screen and (max-width:767px){
    .icons-container h3{
      
line-height: 30px;
color: #7d8995;
font-size: 12px;
    }
}